<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Default OS</string>
			<key>Key</key>
			<string>defaultOS</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>OS X</string>
				<string>Linux</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Theme</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Highlight Color</string>
			<key>Key</key>
			<string>highlightColor</string>
			<key>DefaultValue</key>
			<string>#DB3929</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Blue</string>
				<string>Purple</string>
				<string>Pink</string>
			</array>
			<key>Values</key>
			<array>
				<string>#DB3929</string>
				<string>#CB4E02</string>
				<string>#A97F00</string>
				<string>#879800</string>
				<string>#2EA098</string>
				<string>#1A8BD5</string>
				<string>#6872C7</string>
				<string>#D23D83</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Dark Theme</string>
			<key>Key</key>
			<string>isDarkTheme</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>License</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
